@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('./styles/swiper.css');
@import url('./styles/contact.css');
@import url('./styles/projects.css');
@import url('./styles/about.css');
@import url('./styles/nav.css');

* {
  font-family: 'Nunito Sans', sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
button {
  padding: 5px 10px;
  background-color: #000;
  border: 1px solid #d83838de;
  border-radius: 3px;
  margin: 10px;
  cursor: pointer;
  color: white;
  font-weight: 400;
  font-size: 1.1em;
  transition: 0.3s;
  font-weight: bold;
}

button:hover {
  background-color: #d83838de;
}

.home {
  background-color: #141414;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: calc(20px + 1.5vw);

  height: 100vh;
}

.home-name,
.home-subtitle {
  font-weight: bold;
  margin: 0;
}

.home-name {
  margin-top: 20vh;
  margin: 30vh 0 0 20px;
  color: #eeeeee;
  opacity: 95%;
}

.home-subtitle {
  /* color: #d83838de; */
  margin-left: 65px;
}

.home-btn {
  padding: 5px 15px;
  font-size: 32px;

  background: #f00;
  display: inline-block;
  background: linear-gradient(
    to right,
    #d83838de 0%,
    #d83838de 50%,
    #000 50%,
    #000 100%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.5s;
}

.home-btn:hover {
  background-position: 0 0;
}
