@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('./styles/swiper.css');
@import url('./styles/contact.css');
@import url('./styles/projects.css');
@import url('./styles/about.css');
@import url('./styles/nav.css');
@font-face {
  font-family: 'BlackHorizon';
  src: url('./assets/BLACK\ HORIZON.ttf');
}

:root {
  --main-color: #ffbd59;
  --darker-main: #d51a1f;
  --title-font: 'BlackHorizon', serif;
  --text-font: 'Poppins', sans-serif;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
}
button {
  padding: 5px 10px;
  background-color: var(--main-color);
  border-radius: 3px;
  margin: 10px;
  cursor: pointer;
  color: white;
  font-weight: 400;
  font-size: 1.1em;
  transition: 0.3s;
  font-weight: bold;
  border: none;
  font-family: var(--title-font);
}

button:hover {
  background-color: var(--darker-main);
  color: white;
}

.home {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: calc(20px + 1.5vw);
  padding: 0 0 0 10rem;
  background-color: var(--main-color);
  font-family: var(--title-font);

  height: 95vh;
}

.home p {
  background-color: #000;
}

.header__button {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.home-name,
.home-subtitle {
  font-weight: bold;
  margin: 0;
  color: #000;
  font-size: 2.5em;
}

.home-subtitle {
  padding-left: 2rem;
}

.home-btn {
  padding: 5px 15px;
  font-size: 32px;
  border: none;
  display: inline-block;
  background: linear-gradient(
    to right,
    var(--darker-main) 0%,
    var(--darker-main) 50%,
    #000 50%,
    #000 100%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.5s;
  font-family: var(--title-font);
}

.home-btn:hover {
  background-position: 0 0;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s
    both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s both;
}

.puff-in-center {
  -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
    1.5s both;
  animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@media screen and (max-width: 1230px) {
  .home {
    padding-left: 2rem;
  }

  .header__button {
    align-self: center;
  }
}

@media screen and (max-width: 400px) {
  .home-name {
    font-size: 40px;
  }
  .home-subtitle {
    font-size: 40px;
  }
  .home-btn {
    font-size: 20px;
    margin-top: 1rem;
    padding: 1rem 0.1rem;
  }
  .header__button {
    margin-top: 0;
  }
}
